h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 3, 3);

}

div {
    text-align: center;
    color: rgb(85, 85, 91);
    border: 1rem solid;
    border-color: black;
    border-width: 8px 8px 8px 8px;

}

*[lang^=ru] {
    color: green;
}

*.un {
    color: red;

}

h2.span {
    color: rgb(255, 9, 247);

}

div#tro {
    color: rgb(13, 9, 255);
    border-color: rgb(0, 0, 0);
}